<%= render 'shared/navbar' %>

<div class='container'>
  <div class='col-md-6 col-md-offset-3'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='text-center'>
          <%= image_tag 'users/' + current_user.avatar, class: 'img-circle img-responsive', style: 'display: inline-block' %>

          <h3 style='margin: 10px 0'><%= current_user.display_name %></h3>

          <p><%= current_user.screen_name %> // <%= current_user.email %> // <a class='btn btn-default btn-sm' href='/logout'>Logout</a></p>

          <hr/>

          <p><%= current_user.bio %></p>

          <hr/>

          <p><b>Tags: </b>

          <% current_user.tags.each do |t| %>
            <span class='label label-primary tag'><a href='/search/<%= t.name %>'><%= t.name %></a></span>
          <% end %>
          </p>
        </div>

        <div style='clear:both'></div>
      </div>
    </div>
  </div>
</div>