<%= render 'shared/navbar' %>

<div class='container'>
  <div class='col-md-7'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <%= image_tag 'creators/' + @creator.avatar, width: 100, class: 'media-object img-circle pull-left', style: 'margin-right: 15px' %>

        <div>
          <h3 style='margin: 0 0 10px'>
            <%= @creator.name %>

             <% if @sub_exists %>
                <a href='/creator/<%= @creator.slug %>/subscribe' class='btn btn-sm btn-default'>Unsubscribe</a>
              <% else %>
                <a href='/creator/<%= @creator.slug %>/subscribe' class='btn btn-sm btn-primary'>Subscribe</a>
              <% end %>
          </h3>

          <p><%= @creator.bio %></p>

          <p>
            <b>Tags:</b> 
            
            <% @tags.each do |t| %>
                <span class='label label-primary tag'><%= link_to '/search/' + t.name do %><%= t.name %><% end %></span>
                &nbsp;
            <% end %>
          </p>
        </div>

        <div style='clear:both'></div>
      </div>
    </div>

     <div class='panel panel-default'>
      <div class='panel-heading'>
      Videos
      </div>

      <div class='panel-body'>
        <div class='row'>
          <% @videos.each do |v| %>
            <div class='col-md-6 creator-video-post'>
              <%= link_to '/video/' + v.id.to_s do %>
                <%= image_tag 'https://img.youtube.com/vi/' + v.youtube_id + '/0.jpg', class: 'img-responsive' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-5'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
          Instagram
      </div>

      <div class='panel-body'>
        <div class='row'>
          <% @instagram.each do |i| %>
            <div class='col-md-6 creator-ig-post'>
              <%= image_tag i, class: 'img-responsive' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class='panel panel-default'>
      <div class='panel-heading'>
          Twitter
      </div>

      <div class='panel-body'>
        <% @tweets.each do |t| %>
          <div class='media'>
            <div class='media-left'>
              <%= link_to 'https://twitter.com/' + t.user.screen_name do %>
                <%= image_tag t.user.profile_image_uri, class: 'media-object' %>
              <% end %>
            </div>

            <div class='media-body'>
              <p><%= t.text %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>