<%= render 'shared/navbar' %>

<div class='container results'>
  <h1>Recommended <small>Content discovered and catered for <em>you</em></small></h1>

  <div class="row">
    <h2>Creators <small>we recommend to <em>you</em></small></h2>

    <div class="col-md-3">
      <a href="/creator/ilikeweylie">
        <%= image_tag 'creators/weylie.jpg', class: 'img-responsive img-circle' %>

        <h3>Weylie Hoang</h3>
      </a>      
    </div>

    <div class="col-md-3">
      <a href="/creator/michellephan">
        <%= image_tag 'creators/michelle_phan.jpg', class: 'img-responsive img-circle' %>

        <h3>Michelle Phan</h3>
      </a>      
    </div>

    <div class="col-md-3">
      <a href="/creator/iamkareno">
        <%= image_tag 'creators/iamkareno.jpg', class: 'img-responsive img-circle' %>

        <h3>Karen Yeung</h3>
      </a>      
    </div>

    <div class="col-md-3">
      <a href="/creator/amyvagabondd">
        <%= image_tag 'creators/amy.jpg', class: 'img-responsive img-circle' %>

        <h3>Amy Lee</h3>
      </a>      
    </div>
  </div>

  <div class='row'>
    <h2>Videos <small>by creators we recommend to <em>you</em></small></h2>

    <div class='col-md-3'>
      <a href='/video/1'>
        <img src='https://img.youtube.com/vi/CPj2QgxmUxw/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/5'>The Golden Hour</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/video/3'>
        <img src='https://img.youtube.com/vi/BluCH44nrao/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/3'>Sultry Mauve Eyes w/ Bronzey Skin</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/video/1'>
        <img src='https://img.youtube.com/vi/ioDzRCCYVew/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/1'>6 Korean Makeup Trends Tested</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/video/10'>
        <img src='https://img.youtube.com/vi/XiINeWoSGPg/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/10'>Everyday Makeup Tutorial</a></h3>
    </div>
  </div>

  <div class='row'>
    <h2>Products <small>used by creators we recommend to <em>you</em></small></h2>

    <div class='col-md-3'>
      <a href='/product/8'>
        <%= image_tag 'products/ilw_p8.jpg', class: 'img-responsive img-thumbnail' %>
      </a>

      <h3><a href='/product/8'>Shadow Insurance Primer</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/product/2'>
        <%= image_tag 'products/ilw_p2.jpg', class: 'img-responsive img-thumbnail' %>
      </a>

      <h3><a href='/product/2'>All Day Luminous Weightless Foundation</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/product/3'>
        <%= image_tag 'products/ilw_p3.jpg', class: 'img-responsive img-thumbnail' %>
      </a>

      <h3><a href='/product/3'>Radiant Creamy Concealer</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/product/12'>
        <%= image_tag 'products/cushiony_lip_balm.png', class: 'img-responsive img-thumbnail' %>
      </a>

      <h3><a href='/product/12'>Pillow Plush Cushiony Lip Balm</a></h3>
    </div>
  </div>
  <hr>
</div>