<%= render 'shared/navbar' %>

<div class='container'>
  <div class='col-md-6'>
    <%= image_tag 'products/' + @product.image, class: 'img-responsive img-thumbnail' %>

    <hr />

    <p><b>Description: </b> <%= @product.description %></p>
  </div>

  <div class='col-md-6'>
    <h2><%= @product.name %></h2>

    <a class='btn btn-primary' href='<%= @product.url %>' target='_blank'>Buy Product</a>

    <hr />

    <h3>Video</h3>

    <%= link_to '/video/' + @product.video.id.to_s do %>
      <%= image_tag 'https://img.youtube.com/vi/' + @product.video.youtube_id + '/0.jpg', class: 'img-responsive' %>
    <% end %>
  </div>
</div>